<html>
        <head>Welcome to {{greeting_message}}</head>

        <body>
               <h1>configured by {{automation_tool}}.</h1>
               <h1>Provisioned by {{provisioner_tool}}.</h1>
               <h1>Hostname is {{ansible_host}}.</h1>
        </body>

</html>
